/* Desktop styles */
@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem 0;
    margin: 1rem auto;
    max-width: 98%;
    justify-content: center; /* center horizontally */
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 98%;
    font-size: 1rem;
  }

  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .grid-item img {
    max-width: 98%;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding: 0.5rem 0;
    margin: 1rem auto;
    max-width: 98%;
    justify-content: center; /* center horizontally */
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 98%;
    font-size: 0.8rem;
  }

  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .grid-item img {
    max-width: 98%;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.25rem;
    padding: 0.25rem 0;
    margin: 1rem auto;
    margin-left: 0.5rem;
    max-width: 98%; 
    justify-content: center; /* center horizontally */
  }

  .grid-item {
    border: 1px solid #ccc;
    padding: 0.25rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 95%;
    font-size: 0.7rem;
  }

  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .grid-item img {
    max-width: 95%;
  }
}
